<?xml version="1.0"?>
<model>
	<name>miro_attachment_arena</name>
	<version>1.0</version>
	<sdf version="1.5">miro_attachment_arena.sdf</sdf>
	<author>
		<name>Consequential Robotics Labs (derived)</name>
		<email>labs@consequentialrobotics.com</email>
	</author>
	<description>Attachment arena with four equal walls and full green carpet.</description>
</model>
